/*escrever oque vai ser usado na pg principal e oque vai ser padrão nas pgs*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #1abc9c;
    padding: 20px ;
    margin-bottom: 4%;
}

.logo {
    font-size: large; /* Aumenta um pouco o tamanho do logo */
}

.container {
    display: flex; 
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center;    
}

.links a {
    color: #fff;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borda sutil */
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.links a:hover {
    border-color: #fff; /* Muda a cor da borda ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Intensifica a sombra ao passar o mouse */
}

.logo {
    flex: 1; 
}

.links {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
}

.links li {
    display: inline; /* Coloca os itens da lista em linha */
    margin-right: 20px; 
}

.gpt {
    flex: 1;
    text-align: right;
}

main {
    display: flex;
    justify-content:space-around;
}

.noticias {
    margin: 2%;
    height: 150%;
    width: 15%;
    padding: 2%;
    background-color: rgb(218, 255, 243);
    border-radius: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




